:root {
    --bg: #3C0D29;     
    --gold: #C6A667;   
    --beige: #EEE2CC;  
}

/* BODY */
body {
    background: var(--beige);
    margin: 0;
    font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.base-navbar {
    background: #3C0D29;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid var(--gold);
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);

    /* جعل الشريط ثابت */
    position: sticky;
    top: 0;
    z-index: 999;
}

/* LOGO */
.base-logo {
    color: var(--gold);
    font-size: 28px;
    font-weight: 700;
}

/* CENTER LINKS */
.base-center a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 17px;
    color: var(--gold);
    font-weight: 500;
    transition: 0.3s;
}

.base-center a:hover {
    color: #ffffff;
    text-shadow: 0 0 5px rgba(255,255,255,0.7);
}

/* RIGHT ICONS */
.base-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon-btn {
    padding: 10px;
    border: 2px solid var(--gold);
    border-radius: 12px;
    background: var(--bg);
    cursor: pointer;
    transition: 0.3s;
}

.icon-btn svg {
    stroke: var(--gold);
    stroke-width: 2;
    fill: none;
}

/* HOVER */
.icon-btn:hover {
    background: var(--gold);
    transform: scale(1.12);
}

.icon-btn:hover svg {
    stroke: var(--bg);
}

/* RESPONSIVE */
@media(max-width: 800px){
    .base-center {
        display: none;
    }
}

@media(max-width: 500px){
    .base-logo {
        font-size: 22px;
    }
}
