/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Tajawal", sans-serif;
}

/* Hero Section */
.hero {
    background: url("../image/main.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top:0; left:0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.4);
    z-index:0;
}

.hero-content {
    position: relative;
    z-index:1;
    text-align: center;
    max-width: 600px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.search-box input {
    padding: 12px 15px;
    border-radius: 8px;
    border: none;
    width: 250px;
    font-size: 16px;
}

.search-box button {
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    background-color: #e5e4d8;
    color: #000;
    cursor: pointer;
    font-size: 16px;
}

.search-box button:hover {
    background-color: #a09b89;
}







.museum-intro.container {
    padding: 60px 20px;
}

.intro-box {
    display: flex;
    align-items: center;
    gap: 40px;
    background: #f4f3ea;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.intro-text {
    flex: 1;
}

.intro-text h2 {
    font-size: 28px;
    color: #4A0E2E;
    margin-bottom: 15px;
}

.intro-text p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.intro-image {
    flex: 1;
}

.intro-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* Responsive */
@media(max-width: 768px) {
    .intro-box {
        flex-direction: column;
        text-align: center;
    }

    .intro-image img {
        height: 250px;
    }
}

