/* CONTAINER */
.authority-container {
    width: 600px;
    margin: 50px auto;
    background: var(--beige);
    padding: 35px;
    border-radius: 14px;
    border: 3px solid var(--gold);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* TITLE */
.authority-title {
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    color: var(--bg);
    margin-bottom: 8px;
}

/* SUB TEXT */
.authority-sub {
    text-align: center;
    font-size: 15px;
    color: #5a5a5a;
    margin-bottom: 30px;
}

/* FORM */
.authority-form {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

/* FORM GROUP */
.authority-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* LABEL */
.authority-group label {
    font-weight: 600;
    font-size: 16px;
    color: var(--bg);
}

/* INPUT & TEXTAREA */
.authority-group input,
.authority-group textarea {
    width: 100%;
    border: 2px solid var(--gold);
    background: #fff;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
    color: #333;
    transition: 0.2s;
}

/* TEXTAREA HEIGHT */
.authority-group textarea {
    height: 130px;
    resize: none;
}

/* INPUT FOCUS */
.authority-group input:focus,
.authority-group textarea:focus {
    border-color: var(--bg);
    outline: none;
    box-shadow: 0 0 4px rgba(60, 13, 41, 0.5);
}

/* BUTTON */
.authority-btn {
    background: var(--bg);
    color: var(--gold);
    padding: 14px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid var(--gold);
    transition: 0.3s;
}

/* BUTTON hover */
.authority-btn:hover {
    background: var(--gold);
    color: var(--bg);
    transform: scale(1.03);
}

.authority-input[type="time"] {
    height: 50px;
    border: 2px solid var(--gold);
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: var(--bg);
    background: white;
}


.authority-input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(30%);
    cursor: pointer;
}


/* RESPONSIVE */
@media (max-width: 700px) {
    .authority-container {
        width: 90%;
        padding: 25px;
    }

    .authority-title {
        font-size: 28px;
    }
}
