{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

<nav class="base-navbar">

    <div class="base-left">
        <span class="base-logo">Saudi Museum</span>
    </div>

    <div class="base-center">
        <a class="base-link" href="{% url 'home' %}">Home</a>
        <a class="base-link" href="{% url 'add_museum' %}">Add Museum</a>
        <a class="base-link" href="{% url 'all_del_museum' %}">All Museums</a>
        <a class="base-link" href="{% url 'booking' %}">Booking</a>
        <a class="base-link" href="{% url 'contact_us' %}">Contact Us</a>
    </div>

    <div class="base-right">

        <!-- SIGN IN -->
        <a class="icon-btn" href="{% url 'signin' %}">
            <svg width="30" height="30" viewBox="0 0 24 24">
                <path d="M10 17l5-5-5-5M4 12h11"/>
            </svg>
        </a>

        <!-- SIGN UP -->
        <a class="icon-btn" href="{% url 'signup' %}">
            <svg width="30" height="30" viewBox="0 0 24 24">
                <circle cx="12" cy="7" r="4"/>
                <path d="M12 14c-4 0-6 2-6 4v2h12v-2c0-2-2-4-6-4zM15 10h4M17 8v4"/>
            </svg>
        </a>

        <!-- LOGOUT -->
        <a class="icon-btn" href="{% url 'logout' %}">
            <svg width="30" height="30" viewBox="0 0 24 24">
                <path d="M15 12H3M12 5l7 7-7 7M5 5h6M5 19h6"/>
            </svg>
        </a>

    </div>

</nav>

{% block content %}{% endblock %}

</body>
</html>
